h3, h4 {
    margin: 0 0 0.5em;
}

.productsContainer {
    width: 100%;
}

.productBadge {
    position: absolute;
    top: 1em;
    padding: 0.3em 0.6em;
    border-radius: 10px;
    color: white;
    font-size: 0.9em;
}

.labelAndCountItemsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.labelAndCountItemsContainer:nth-child(1) {
        background: -webkit-linear-gradient(#ff402a, #FCB045);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.productCategoryLabel {
    color: #f97316;
}

.ratingAndReviewContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.priceContainer {
    display: flex;
    align-items: end;
    gap: 0.5em;
}

