.profileContainer {
    border: 1px solid black;
    padding: 1.5em;
    border-radius: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}

.content {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: space-between;
}

.content form  {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.content form label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.content input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.05em;
    padding: 0.2em 0.5em;
}

.inputInfoContainer {
    display: flex;
    flex-direction: row;
}

.inputInfoContainer input {
    flex: 1;
    min-width: 0;
}

.content button {
    flex-shrink: 0;
    width: fit-content;
    text-wrap: nowrap;
    background: #00b500;
    color: white;
    box-shadow: none;
}

.profileCategoryButton {
    border-color: black !important;
    color: black !important;
    background-color: transparent !important;
    transition: background-color 0.2s ease, color 0.2s ease !important;
}

.profileCategoryButton:hover {
    background-color: black !important;
    color: white !important;
}