nav {
    background-color: #f97316;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
}

.mainLogo {
    width: 100px;
    border-radius: 30%;
}

.logoSideContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: fit-content;
    padding: 1em;
}

.buttonsSideContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: fit-content;
    padding-right: 4em;
}

.buttons {
    border: none;
    background: none;
    border-radius: 30%;
    aspect-ratio: 1;
    padding: 1em;
    transition: background-color 0.15s linear;
}

.buttons:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.buttons img {
    width: 2em;
}

@keyframes searchInputAppear {
    from {
        opacity: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }
    to {
        opacity: 1;
        width: 10em;
        padding: 0.5em 1em;
        margin-right: 0.5em;
    }
}

@keyframes searchInputDisappear {
    from {
        opacity: 1;
        width: 10em;
        padding: 0.5em 1em;
        margin-right: 0.5em;
    }
    to {
        opacity: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }
}

@keyframes extendSearchInput {
    from {
        width: 10em;
    }
    to {
        width: 25em;
    }
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 0.5em;
    border-radius: 1em;
}

#searchInput {
    height: 2em;
    border-radius: 1em;
    border: none;
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.searchContainer:hover #searchInput:not(:focus) {
    animation: searchInputAppear 0.3s forwards;
}

.searchContainer:not(:hover) #searchInput:not(:focus) {
    animation: searchInputDisappear 0.3s forwards;
}

/* Handle the focus state separately */
#searchInput:focus {
    opacity: 1;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    animation: extendSearchInput 0.3s forwards;
}

#searchButton {
    width: 3em;
    height: 3em;
    background: rgba(255, 255, 255, 0.19);
    border: none;
    border-radius: 50%;
    padding: 0.5em;
}

#searchButton:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
}

#searchButton img {
    width: 1.5em;
}