nav {
    background-color: #f97316;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
}

.mainLogo {
    width: 80px;
    border-radius: 30%;
}

.logoSideContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: fit-content;
    padding: 0.5em 1em;
}

.buttonsSideContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    width: fit-content;
    padding-right: 4em;
}

.buttons {
    border: none;
    background: none;
    border-radius: 30%;
    aspect-ratio: 1;
    padding: 0.5em;
    transition: background-color 0.15s linear;
}

.buttons:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.buttons img {
    width: 1.5em;
}