.carouselContainer {
    overflow: hidden;
    background-color: #f97316;
    margin: 3em 5em;
    position: relative;
    padding: 3em 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.viewport {
}

.slideContainer {
    display: flex;
    backface-visibility: hidden;
}

.slide {
    flex: 0 0 90%;
    margin: 0 5%;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controlButton {
    background: none;
    border: none;
    padding: 0;
    width: fit-content;
    position: absolute;
    top: 50%;
    font-size: 2em;
}

.controlButton:hover {
    cursor: pointer;
}

.prevButton {
    left: 2.5%;
    transform: translateY(-50%) translateX(-50%);
}

.nextButton {
    right: 2.5%;
    transform: translateY(-50%) translateX(50%);
}