.filterContainer {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 10px;
    width: fit-content;
    min-width: 20em;
    height: fit-content;
}

.label {
    font-weight: bold;
    font-size: 1.2em;
}

.resetButton {
    color: red;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 5px;
}

.resetButton:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.1);
}

.priceRangeLabel {
    font-weight: bold;
}

.sliderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}