h3, h4 {
    margin: 0 0 0.5em;
}

@keyframes hoverProduct {
    from {
        box-shadow: none;
        transform: scale(1);
    }
    to {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.03);
    }
}

.activeProduct:hover {
    cursor: pointer;
    animation: hoverProduct 0.2s forwards;
}

.productBadge {
    position: absolute;
    top: 1em;
    padding: 0.3em 0.6em;
    border-radius: 10px;
    color: white;
    font-size: 0.9em;
}

.labelAndCountItemsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.labelAndCountItemsContainer:nth-child(1) {
        background: -webkit-linear-gradient(#ff402a, #FCB045);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.productCategoryLabel {
    color: #f97316;
}

.ratingAndReviewContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
}

.priceContainer {
    display: flex;
    align-items: end;
    gap: 0.5em;
}

.disabledProduct {
    opacity: 0.8;
}

.outOfStockLabel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    padding: 0.5em;
    border-radius: 0.5em;
}
