* {
  font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    align-items: center;
    margin: 5em 0;
}

section {
    width: 80%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.productsAndFilterContainer {
    display: flex;
    flex-direction: row;
    gap: 3em;
}