.carouselContainer {
    overflow: hidden;
    background-color: #f97316;
    position: relative;
    padding: 3em 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.slideContainer {
    display: flex;
    backface-visibility: hidden;
}

.slide {
    flex: 0 0 90%;
    margin: 0 5%;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controlButton {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    border: none;
    padding: 0;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: 50%;
    font-size: 2em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.controlButton:hover {
    cursor: pointer;
}

.prevButton {
    left: 2.5%;
    transform: translateY(-50%) translateX(-50%);
}

.nextButton {
    right: 2.5%;
    transform: translateY(-50%) translateX(50%);
}

@media (max-width: 900px) {
    .slide {
        flex: 0 0 100%;
    }

    .carouselContainer {
     padding: 0.5em;
    }

    .controlButton {
        font-size: 1.5em;
        width: 1.5em;
        height: 1.5em;
    }

    .prevButton {
        left: 3%;
        transform: translateY(-50%) translateX(0);
    }

    .nextButton {
        right: 3%;
        transform: translateY(-50%) translateX(0);
    }
}